<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Allure Reports" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="core.Listener"/>
    </listeners>
    <test name="chrome Tests">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="tests.TC01"/>
        </classes>
    </test>


    <test name="edge Tests">
        <parameter name="browserName" value="MicrosoftEdge"/>
        <classes>
            <class name="tests.TC01"/>
        </classes>
    </test>
</suite>
